body {

    color: #dbd0d0;
    font-family: 'Franklin Gothic Medium';
  
  }
.jumbotron {
   
    background-size: 100% 100%;
    text-align: center;
  }

  ul {
    list-style: none;
  }

p {
    padding: 20px 20px 20px 20px;
}

button{
  padding: 5px 5px 5px 5px;
}

  footer {
    padding: 75px 75px 75px 75px;
  }